# Lab | Data Structuring and Combining Data

Objective: 
- Combine and integrate data from multiple sources using merging, concatenating, or joining techniques to generate more comprehensive and meaningful datasets for analysis.
- Modify the structure of data by pivoting, stacking/unstacking, or melting dataframes, enabling them to efficiently explore and analyze complex datasets.

# Challenge 1: Combining Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links: 
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Perform data cleaning and formatting using the main cleaning and formatting function created in the previous lab to clean and format the data.

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

Observation: 
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [ ]:
import pandas as pd

In [32]:
df1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')
df3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
# df1.head()
# df2.head()
# df3.head()

In [33]:
df1 = df1.rename(columns={'GENDER': 'Gender', 'ST': 'State'})
df3 = df3.rename(columns={'GENDER': 'Gender', 'ST': 'State'})

In [34]:
df1['Gender'] = df1['Gender'].replace({'F': 'Female','female' : 'Female', 'Femal' : 'Female','M': 'Male'})

In [ ]:
df2['Gender'] = df2['Gender'].replace({'F': 'Female','female' : 'Female', 'Femal' : 'Female','M': 'Male'})

In [ ]:
df3['Gender'] = df3['Gender'].replace({'F': 'Female','female' : 'Female', 'Femal' : 'Female','M': 'Male'})

In [ ]:
df1["Customer Lifetime Value"] = df1["Customer Lifetime Value"].str.rstrip("%").astype(float)/100

In [ ]:
#Not needed#df2["Customer Lifetime Value"] = df2["Customer Lifetime Value"].str.rstrip("%").astype(float)/100

In [ ]:
df3["Customer Lifetime Value"] = df3["Customer Lifetime Value"].str.rstrip("%").astype(float)/100

In [ ]:
#df1["Number of Open Complaints"] = df1["Number of Open Complaints"].replace({'/':'1'})

In [ ]:
df1["Number of Open Complaints"] = df1["Number of Open Complaints"].replace("1/0/00","1").replace("1/1/00","1").replace("1/2/00","1").replace("1/3/00","1").replace("1/4/00","1").replace("1/5/00","1").astype(float)

In [ ]:
df2["Number of Open Complaints"] = df2["Number of Open Complaints"].replace("1/0/00","1").replace("1/1/00","1").replace("1/2/00","1").replace("1/3/00","1").replace("1/4/00","1").replace("1/5/00","1").astype(float)

In [ ]:
df3["Number of Open Complaints"] = df3["Number of Open Complaints"].replace("1/0/00","1").replace("1/1/00","1").replace("1/2/00","1").replace("1/3/00","1").replace("1/4/00","1").replace("1/5/00","1").astype(float)

In [ ]:
df1.head()

In [ ]:
df2.head()

In [ ]:
df3.head()

In [ ]:
print(df1.columns)
print(df2.columns)
print(df3.columns)

In [ ]:
df1 = df1.sort_index(axis=1)
df2 = df2.sort_index(axis=1)
df3 = df3.sort_index(axis=1)

In [ ]:
combined_df = pd.concat([df1, df2, df3], ignore_index=True)

In [36]:
combined_df.head()

,Customer,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,State,Total Claim Amount,Vehicle Class
0,GS98873,3239.1247,Bachelor,Female,16061.0,88.0,1.0,Personal Auto,Arizona,633.6,Four-Door Car
1,CW49887,4626.8011,Master,Female,79487.0,114.0,1.0,Special Auto,California,547.2,SUV
2,MY31220,8997.0402,College,Female,54230.0,112.0,1.0,Personal Auto,California,537.6,Two-Door Car
3,UH35128,25807.0630,College,Female,71210.0,214.0,1.0,Personal Auto,Oregon,1027.2,Luxury Car
4,WH52799,3808.1221,College,Female,94903.0,94.0,1.0,Corporate Auto,Arizona,451.2,Two-Door Car

In [35]:
combined_df['Gender'].value_counts()

Female    4607
Male      4408
Name: Gender, dtype: int64

In [ ]:
change_gender_column

In [ ]:
combined_df.head()

In [ ]:
combined_df.rename(columns={'ST': 'State'})

In [ ]:
combined_df.head()

In [ ]:
null_cols = combined_df.isnull().sum()
null_cols[null_cols > 0]

In [ ]:
combined_df.dropna()

In [ ]:
combined_df.isnull()

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

## Exercise 1: Clean and Format the Data

While the dataset has been partially cleaned and formatted, we still need to perform several data cleaning tasks. Specifically, we need to standardize the column names, clean null values, convert the effective_to_date column to datetime, and extract the months from the dataset and store them in a separate column. 

To accomplish these tasks, we will use the functions created in the previous step to standardize the column names and deal with null values, and then we will apply additional functions to convert the effective_to_date column to datetime and extract the months.

Save the clean dataset into a csv file.

In [30]:
df4 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

In [31]:
df4.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [2]:



def standardize_column_names(df):
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    return df


def clean_null_values(df):
    df.dropna(inplace=True)
    return df


def convert_to_datetime_and_extract_month(df):
    df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])
    df['month'] = df['effective_to_date'].dt.month
    return df


url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)


df = standardize_column_names(df)


df = clean_null_values(df)


df = convert_to_datetime_and_extract_month(df)


df.to_csv('cleaned_marketing_customer_analysis.csv', index=False)

## Exercise 2: Structuring Data

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

3. You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [11]:

df = pd.read_csv('cleaned_marketing_customer_analysis.csv')


pivot_table_revenue = df.pivot_table(index='sales_channel', values='total_claim_amount', aggfunc='sum').reset_index()


pivot_table_revenue['total_claim_amount'] = round(pivot_table_revenue['total_claim_amount'], 2)


pivot_table_revenue = pivot_table_revenue.sort_values(by='total_claim_amount', ascending=False)



pivot_table_revenue

  sales_channel  total_claim_amount
0         Agent           757063.79
1        Branch           547893.57
2   Call Center           391964.55
3           Web           285995.48

In [8]:
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
1,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
2,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,...,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,1
3,13,KR82385,California,5454.587929,No,Basic,Master,2011-01-26,Employed,M,...,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A,1
4,16,FH51383,California,5326.677654,No,Basic,High School or Below,2011-02-07,Employed,F,...,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A,2

In [10]:

pivot_table_clv = df.pivot_table(index=['gender', 'education'], values='customer_lifetime_value', aggfunc='mean').reset_index()


pivot_table_clv['customer_lifetime_value'] = round(pivot_table_clv['customer_lifetime_value'], 2)


pivot_table_clv

  gender             education  customer_lifetime_value
0      F              Bachelor                  8039.29
1      F               College                  7798.08
2      F                Doctor                  8475.30
3      F  High School or Below                  8475.52
4      F                Master                  8243.13
5      M              Bachelor                  8125.26
6      M               College                  7984.30
7      M                Doctor                  7659.74
8      M  High School or Below                  7730.15
9      M                Master                  8013.87